<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Time Series Analysis</title>

  <script src ="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src="http://d3js.org/topojson.v0.min.js"></script>
  <script src= "https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

  <script type=text/javascript src="{{url_for('static', filename='js/config.js') }}"></script>

</head>
<body>
  {% extends "menu.html" %}
  {% block content %}
  <div class="container-fluid padding first-container">
    <span class="anchor" id="Analysis_1"></span>

    <div class="row">
        <div class="col-md-8 text-center" >
          <h5>Oil Prices Data: Period Jan, 1990 - May, 2020, Frequency - Monthly</h5>
          <div class="row">

            <form action="/action_page.php" style="margin-left: 10px">
              <label for="chart_type">Choose chart type:</label>
              <select name="chart_type" id="chart_type">
                <option value="line">Line</option>
                <option value="bar">Bar</option>
              </select>
            </form>

            <form action="/action_page.php" style="margin-left: 15px">
              <label for="oil">Choose Oil Symbol:</label>
              <select name="oil" id="oil">
                <option value="EIA/PET_RWTC_D">WTI</option>
                <option value="FRED/DCOILBRENTEU">Brent</option>
                <option value="EIA/PET_ISA4990008_A">Arabian Light</option>
              </select>
            </form>

            <input id="number_of_elements" placeholder="Input number of last records" style="width:28%; margin-left: 10px"></input>
            <button onclick="quandl_request();">Submit</button>


          </div>
          <canvas id="container" style="height: 400px; min-width: 310px"></canvas>
        </div>
        <div class="col-md-4 analysisClass text-center" >
          <h5>Time Series Analysis in R</h5>
          <div class="card">
            <img class="card-img-bottom" style="height: 500px" src="{{url_for('static', filename='images/R_exploration.png')}}">
            <img class="card-img-bottom" style="height: 500px" src="{{url_for('static', filename='images/R_timeSeries_1.png')}}">
          </div>
        </div>
      </div>
    </div>
  <script>
  function quandl_request () {
    number_of_elements = document.getElementById("number_of_elements").value
    if (!number_of_elements) {
      number_of_elements = 30
    };
    chart_type = document.getElementById("chart_type").value
    oil_type = document.getElementById("oil").value
    var baseurl = "https://www.quandl.com/api/v3/datasets/";
    var endurl = `rows=${number_of_elements}&api_key=${QUANDL_API_KEY}`;
    var quandlcode = oil_type; // if is it's your choice?
    var url = baseurl + quandlcode + ".json?" + endurl; // dont forget the "?"
    var xhr = new XMLHttpRequest();
    xhr.open("GET", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onload = function() {
        var data = JSON.parse(this.responseText).dataset.data;
        var labels = [];
        var labels_data = [];
        for (let i = 0; i < number_of_elements; i++) {
          labels.push(data[i][0]);
          labels_data.push(data[i][1]);}
        labels.reverse();
        labels_data.reverse();
        renderChart(labels_data, labels, chart_type);
        }
        // {}.dataset.data is the data matrix in Quandl
        // for most datasets as far as I know ...
        // then process your own way
    xhr.send();
  }

  function float2dollar(value){
      return "U$ "+(value).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
  }

  function renderChart(data, labels, chart_type) {
    console.log(data, labels, chart_type);
    var ctx = document.getElementById('container').getContext('2d');
    var myChart = new Chart(ctx, {
      type: chart_type,
      data: {
        labels: labels,
        datasets: [{
          label: 'Oil price',
          data: data,
          backgroundColor:
          'rgba(85,107,47, 0.2)',
          borderColor:
          'rgba(85,107,47, 1)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: false,
              callback: function(value, index, values) {
                              return float2dollar(value);
                            }
            }
          }]
        }
      }
    });
  }
  window.addEventListener('load', function () {
    quandl_request()
  });

  </script>
  {% endblock %}
</body>
</html>
