<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Time Series Analysis</title>

  <script src ="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src="http://d3js.org/topojson.v0.min.js"></script>
  <script src= "https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

  <script type=text/javascript src="{{url_for('static', filename='js/config.js') }}"></script>

</head>
<body>
  {% extends "menu.html" %}
  {% block content %}
  <div class="container-fluid padding first-container">
    <span class="anchor" id="Analysis_6"></span>

    <div class="row">
        <div class="col-md-4 analysisClass text-center" >
          <h5>ARIMA MODEL, BRENT</h5>
          <div class="card">
            <img class="card-img-bottom" style="height: 500px" src="{{url_for('static', filename='images/analysis/BRENT_ARIMA_monthly.png')}}">
            <h5>ARIMA MODEL, WTI</h5>
              <br>
            <img class="card-img-bottom" style="height: 500px" src="{{url_for('static', filename='images/analysis/WTI_ARIMA_monthly.png')}}">
          </div>

        </div>
        <div class="col-md-3 text-center" >
          <h5>Neural Network</h5>
          <div class="card">
            <img class="card-img-bottom" style="height: 500px" src='https://i.pinimg.com/originals/a2/c3/7b/a2c37b5974c353b39326d786959db6e9.gif'>
          </div>
        </div>
        <div class="col-md-5 analysisClass text-center" >
          <div class="card">
            <h5>Recurrent Neural Network Model, BRENT</h5>
            <br>
            <img class="card-img-bottom" style="height: 500px" src="{{url_for('static', filename='images/analysis/BRENT RNN-LTSM model- daily oil price.png')}}">
            <h5>Recurrent Neural Network Model, WTI</h5>
            <br>
            <img class="card-img-bottom" style="height: 500px" src="{{url_for('static', filename='images/analysis/WTI RNN-LTSM model- daily oil price.png')}}">

          </div>
        </div>
      </div>
    </div>
  <script>

  </script>
  {% endblock %}
</body>
</html>
