<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Time Series Analysis</title>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

  <script type=text/javascript src="{{url_for('static', filename='js/regression.js') }}"></script>

</head>
<body>
  {% extends "menu.html" %}
  {% block content %}
  <div class="container-fluid padding first-container">
    <span class="anchor" id="Analysis_1"></span>

      <div class="row">
        <div class="col-md-8 text-center" >
          <h5>Multiple Linear Regression Analysis</h5>
            <div id="chart" class ="chart">
              <img src="http://localhost:5000/plots/correlation_matrix">
            </div>
        </div>
        <div class="col-md-4" >
          <div class="text-center" >
            <h5>Tuning Model</h5>
          </div>
          <div class="format">
        <form action = "http://localhost:5000/an_3" method = "POST">

        <p>Create regression model for a chosen period<p>
        <p>Enter start period(year):</p>
        <p><input type = "text" name = "start" /></p>
        <p>Enter end period(year):</p>
        <p><input type = "text" name = "end" /></p>

        <p>Choose target (dependent variable):</p>
        <p><input type = "text" name = "target" /></p>
        <p>Choose predictors (indepedent variables):</p>
        <p><input type = "submit" value = "submit" /></p>

        </form>
      <div>

          </div>
        </div>
        </div>
      </div>


  {% endblock %}
</body>
</html>
