<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>World Oil Statistics</title>

  <!-- JS libraries -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-queue.v3.min.js"></script>
    <!-- topojson -->
    <script src="https://d3js.org/topojson.v1.min.js"></script>
    <!-- geo projections lib -->
    <script src="https://d3js.org/d3-geo-projection.v3.min.js"></script>
    <!-- scale-cluster library for map coloring -->
    <script src="https://unpkg.com/d3-scale-cluster@1.3.1/dist/d3-scale-cluster.min.js"></script>
    <!-- Legend files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js" integrity="sha512-wNH6xsp2n8CfB91nrBtfc4sfLwYPBMjSWVUwQOp60AYYXH6i8yCwuKFZ4rgK2i6pQek/b+bSyR7b01/922IBzQ==" crossorigin="anonymous"></script>
    <!-- formating numbers -->
    <script src="https://d3js.org/d3-format.v2.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style_worldmap.css') }}">

</head>

<body>
  {% extends "menu.html" %}
  {% block content %}

  <div class="container-fluid padding first-container">
    <!-- Content -->
    <div class="row">
        <div class="col-md-12">
            <h3>Oil Production since 1990</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-1">
                    <button id="play" type="button" class="btn btn-success">play</button>
                </div>
                <div class="col-md-1">
                    <output id="output">1990</output>
                </div>
                <div class="col-md-10">
                    <input id="sequence" type="range" min="1990", max="2019", value="1990", step="1" >
                </div>
            </div>
            <div class="row">
                <div class=col-md-12 id="worldmap"><!--Map container--></div>
            </div>
        </div>
        <div class="col-md-3">
            <div id="legend"><!--Legend container for the map--></div>
            <p id='worldMapNote'>Note: Includes crude oil, shale oil, oil sands, condensates (lease condensate or gas condensates that require further refining) and NGLs (natural gas liquids - ethane, LPG and naphtha separated from the production of natural gas). Excludes liquid fuels from other sources such as biofuels and synthetic derivatives of coal and natural gas. This also excludes liquid fuel adjustment factors such as refinery processing gain. Excludes oil shales/kerogen extracted in solid form.</p>
            <p>Source: <a href="https://www.bp.com/en/global/corporate/energy-economics/statistical-review-of-world-energy.html" target="_blank">Statistical Review of World Energy by bp</a></p>
        </div>
    </div>
</div>
  <script>
  // Define variables needed:
  // dimensions for map container
  var width = 940,
      height = 500;

  // create SVG element in the map container
  var svg = d3.select("#worldmap")
      .append("svg")
      .attr('class','worldMapSvg')
      .attr("width", width)
      .attr("height", height)
    
  var g = svg.append("g");
  // define a geographical projection and set initial zoom
  var projection =d3.geoNaturalEarth1().scale(1) // setting dummy scale than it is adjusted
  // prepare a path object and apply the projection to it
  var pathGenerator = d3.geoPath().projection(projection);
  // prepare an object to later have easier access to the data
  var dataById;
  // scaling function for assigning colors to countries
  // https://github.com/schnerd/d3-scale-cluster
  var assignColor = d3.scaleCluster()
  // creating the range of colors - colors defined in css
  var colors= d3.range(10).map(i => ("country q" + i +"-10"));
  // tooltip variable
  var tooltip = d3.select("#worldmap")
      .append("div")
      .attr("class", "worldMapTooltip hidden");
  // other global variables
  var dataset;
  var domain = [];
  var years =d3.range(1990,2020);
  var yearIndex = 0;
  var currentYear = 1990;
  var playing = false;
  var countryName={};
  var clusters=[];
  /// ------------------------------------------------------

  // LOAD ALL DATA AND AWAIT THE NEXT STEP
  d3.queue()   // queue function loads all external data files asynchronously
  //   .defer(d3.tsv, "data/110m.tsv")
    .defer(d3.json, "static/data/world-topo.json")  // our geometries, does not work with latest version of topojson countries data, probably different structure of data?
    .defer(d3.csv, "static/data/bp_national_production.csv")
  //   .defer(d3.csv, "data/bp_national_consumption.csv")
    .await(processData);


  function processData(err, world, production) {
      // save countries variable
      var countries = topojson.feature(world, world.objects.countries);
     // get the scale and center parameters from the features
      var scaleCenter = calculateScaleCenter(countries);

      // apply scale, center and translate parameters:
      projection.scale(scaleCenter.scale)
              .center(scaleCenter.center)
              .translate([width/2, height/2]);

      // assign data to variable
      dataset=production;

      // map the data from csv to dataById (all data):
      dataById = d3.nest()
          .key(d => d.country_code)
          .rollup(d => d[0])
          .map(dataset);
      // assign values only to domain for later scaling (only values, need to be cleaned for undefined and n/a)
      for (i in countries.features) {
          switch (dataById.get(countries.features[i].properties.id)) {
              case undefined:
                  break;
              default:
                  for (k in years) {
                      switch (isNaN(dataById.get(countries.features[i].properties.id)[years[k]])) {
                          case true:
                              break;
                          default:
                              domain.push(Math.round(dataById.get(countries.features[i].properties.id)[years[k]]));
                      };
                  };
          };
      };

      // draw the sphere around the globe
      g.append('path')
          .attr('class', 'sphere')
          .attr('d', pathGenerator({type: 'Sphere'}));

      // make a globe/sphere to be responsive to zoom
      svg.call(d3.zoom().on('zoom', () => {
          g.attr('transform', d3.event.transform);
      }));

      // draw each country on the map
      g.selectAll('path')
          .data(countries.features)
          .enter().append('path')
              .attr('class', 'country')
              .attr('d', pathGenerator)
                 // show tooltip when mouse move over the country DOES NOT WORK YET
                 .on('mousemove', showTooltip)
                 .on('mouseout', hideTooltip)

      // call function to update colors
      updateMapColors();
      // drawMap();

  };
  // function to update map colors based on the values
  function updateMapColors() {
      // updating our function for color scaling adding domain and range
      assignColor.domain(domain).range(colors);

      // assign colors to elements based on the values in particular year
      g.selectAll('.country')
       .attr('class', function(d) {
          switch (dataById.get(getId(d))) {
              case undefined:
                  return 'country default';
                  break;
              default:
                  if (isNaN(dataById.get(getId(d))[currentYear])) {
                      return 'country default';
                  } else {
              return assignColor(dataById.get(getId(d))[currentYear]);
          }};
      });
  };

  // creating a legend for data
  // amazing source https://d3-legend.susielu.com/#symbol-ordinal
  // Threshold legend
  function drawLegend() {
      var legendSvgHeight = 300;
      var legendSvgWidth = 300;

      var legendSvg = d3.select('#legend')
      .append('svg')
      .attr('class', 'svgLegend')
      .attr("height", legendSvgHeight)
      .attr("width", legendSvgWidth);

      var thresholdScale = d3.scaleThreshold()
      .domain([ 471, 1227, 2059, 2822, 3689, 5651, 8207, 10269, 15360])
      .range(d3.range(10)
      .map(function(i) { return "q" + i + "-10"}));

      legendSvg.append("g")
      .attr("class", "legendQuant")
      .attr("transform", "translate(20,20)");

      var legend = d3.legendColor()
      .labelFormat(d3.format(",.0f"))
      // .orient('horizontal')
      .ascending(true)
      .shapeWidth(50)
      .shapeHeight(20)
      .title('Daily Oil Production (ths. barrels)')
      .labels(d3.legendHelpers.thresholdLabels)
      .labelWrap(150)
      .labelAlign('start') // options: 'start', 'middle', 'end'
      .useClass(true)
      .scale(thresholdScale);

      legendSvg.select(".legendQuant")
      .call(legend);
  };

  // function to animate map when hitting play button
  function animateMap() {

      var timer;  // create timer object
      d3.select('#play')
        .on('click', function() {  // when user clicks the play button
          // console.log('click');
          if(playing == false) {  // if the map is currently playing
            timer = setInterval(function(){   // set a JS interval
              if(yearIndex < years.length-1) {
                  yearIndex +=1;  // increment the current attribute counter
              } else {
                  yearIndex = 0;  // or reset it to zero
              }
              currentYear = years[yearIndex];
              updateMapColors();  // update the representation of the map
              d3.select('#output').html(years[yearIndex]);  // update the clock
            }, 600); // 600 is the interval for change

            d3.select(this).html('stop');  // change the button label to stop
            playing = true;   // change the status of the animation
          } else {    // else if is currently playing
            clearInterval(timer);   // stop the animation by clearing the interval
            d3.select(this).html('play');   // change the button label to play
            playing = false;   // change the status again
          }
      });
    };

  // function to make map responsive to slider - choosing specific year
  (function() {
      // select the output
      var output = d3.select("#output");

      // select range
      d3.select('#sequence')
          .on('input', function(d) { // when it changes
              currentYear = +this.value;
              updateMapColors(); // update  the map
              output.html(+this.value)  // update the output
          });
  })();

  // tooltip function - for showing name and data - NEED TO BE ADJUSTED
  function showTooltip(f) {
      tooltip.classed('hidden', false)
          .html(getId(f)+': '+ d3.format(",.0f")(Math.round(+dataById.get(getId(f))[currentYear])))
              .style('left', d3.event.pageX+'px')
              .style('top', d3.event.pageY+'px');
  };

  function hideTooltip() {
      tooltip.classed('hidden', true);
  };

  // helpers functions:
  function getId(f) {
      return f.properties.id;
  };

  /**
   * source: https://data-map-d3.readthedocs.io/en/latest/index.html#
   * Calculate the scale factor and the center coordinates of a GeoJSON
   * FeatureCollection. For the calculation, the height and width of the
   * map container is needed.
   *
   * Thanks to: http://stackoverflow.com/a/17067379/841644
   *
   * @param {object} features - A GeoJSON FeatureCollection object
   *   containing a list of features.
   *
   * @return {object} An object containing the following attributes:
   *   - scale: The calculated scale factor.
   *   - center: A list of two coordinates marking the center.
   */
  function calculateScaleCenter(countries) {
      // Get the bounding box of the paths (in pixels!) and calculate a
      // scale factor based on the size of the bounding box and the map
      // size.
      var bbox_path = pathGenerator.bounds(countries),
          scale = 0.95 / Math.max(
          (bbox_path[1][0] - bbox_path[0][0]) / width,
          (bbox_path[1][1] - bbox_path[0][1]) / height
          );

      // Get the bounding box of the features (in map units!) and use it
      // to calculate the center of the features.
      var bbox_feature = d3.geoBounds(countries),
          center = [
          (bbox_feature[1][0] + bbox_feature[0][0]) / 2,
          (bbox_feature[1][1] + bbox_feature[0][1]) / 2];

      return {
      'scale': scale,
      'center': center
      };
  };

  drawLegend();
  animateMap();

  </script>

  {% endblock %}
</body>
</html>
