<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>USA Infrastructure</title>

  <script src ="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src="http://d3js.org/topojson.v0.min.js"></script>

</head>
<body>
  {% extends "menu.html" %}
  {% block content %}
  <div class="container-fluid padding first-container">
    <span class="anchor" id="Dashboard_1"></span>
      <div class="row">
        <div class="col-md-12 text-center" >
          <div class="card">
            <div id="letters">
            </div>
          </div>
        </div>
      </div>


  <script>

  let data = 'Is DATA becoming the new oil?'.split('').map( (d, i) => ({
    letter  : d,
    index   : i,
    pos     : i
  }));
  const LETTER_WIDTH = 22;
  const WIDTH        = LETTER_WIDTH * data.length;
  const HEIGHT       = 60;
  const svg = d3.select('#letters').append('svg')
    .attr('width', WIDTH)
    .attr('height', HEIGHT)
    .append('g')
      .attr('transform', 'translate(0,' + (HEIGHT/2) + ')');

  function update (data) {
        const text = svg.selectAll('text').data(data, d => d.index);
        text.enter().append('text')
          .attr('fill', d => d.letter === '?' ? 'tomato' : '#000')
          .attr('x', (d, i) => LETTER_WIDTH*d.pos)
          .style('font-size', '40px')
          .style('font-family', 'monospace')
          .text(d => d.letter)
          .merge(text)
            .transition().duration(1000)
            .attr('x', (d, i) => LETTER_WIDTH*d.pos);
  }

  function loop () {
  update(data);
  window.setTimeout(function () {
    data = d3.shuffle(data).map( (d, i) => {
      d.pos = i;
      return d;
    });
    update(data);
    window.setTimeout(function () {
      data = data.map( (d, i) => {
        d.pos = d.index;
        return d;
      });
      loop();
    }, 5000);
  }, 5000);
}
loop();


  </script>
  {% endblock %}
</body>
</html>
