body {
    margin: 25px;
    overflow: hidden;
}

#worldmap {
    width: 900px;
    height: 500px;
    border: 1px solid silver;
}

.sphere {
    fill: #00bcd433;
    fill-opacity: 0.4;
    stroke:black;
    stroke-opacity: 0.5; 
}

.country {
    stroke: black;
    stroke-width: 0.3px;
    stroke-opacity: initial;
}

/* thanks to http://colorbrewer2.org/ */
.q9-10{fill:rgb(165,0,38)} 
.q8-10{fill:rgb(215,48,39)} 
.q7-10{fill:rgb(244,109,67)} 
.q6-10{fill:rgb(253,174,97)} 
.q5-10{fill:rgb(254,224,139)} 
.q4-10{fill:rgb(217,239,139)} 
.q3-10{fill:rgb(166,217,106)} 
.q2-10{fill:rgb(102,189,99)} 
.q1-10{fill:rgb(26,152,80)} 
.q0-10{fill:rgb(0,104,55)}
.default {
    fill: steelblue;
    fill-opacity: 0.7;
}
.sphere {
    fill: #00bcd433;
    fill-opacity: 0.4;
    stroke:black;
    stroke-opacity: 0.5; 
}

/* styling for hover over the country */
.country:hover {
    /* fill: orange; */
    opacity: 0.5;
}

/*  tooltip for info about the country */
.tooltip {
    font-weight: bold;
    padding: 0.5rem;
    border: 1px solid silver;
    color: #222222;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #a6a6a6;
    opacity: 0.9;
    position: absolute;
}
.hidden {
    display: none;
}
/* styling for the slider */
input[type=range] {
    width: 40%;
    margin: 13.8px 0;
    background-color: transparent;
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
    margin-top: -14px;
    width: 16px;
    height: 36px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
    -webkit-appearance: none;
}
 