@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

.blink_me {
  animation: blinker 5s linear infinite;
}

.signature {
  font-weight: 500;
  font-style: oblique;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

h5 {
  background-color: #20735b;
  color:white;
}
h6 {
  color: solid black;
}
p {
  color: darkgrey !important;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}
img {
 max-width: 100%;
}
.first-container {
  padding-top: 85px;
}
.navbar {
  padding: 0rem;
  border-bottom: solid;
}
a.nav-link {
  /*color: white !important;*/
}
.navbar-brand img{
  height: 70px;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}
.carousel-inner img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.carousel-caption {
  position: absolute;
  top: 85%;
  transform: translateY(-50%)
}
.carousel-caption h4 {
  font-size: 150%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}
.carousel-caption h5 {
  font-size: 80%;
  font-weight: 500;
  text-shadow: 1px 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.carousel-caption a {
  color: black;
}
button
{
    color: #000000;
    border: 1px solid #20735b !important;
}

/*---
.dropdown-toggle {
  color: #fff !important;
  background-color: #28a745;
  border-color: #28a745;
}
*/

span.anchor {
    margin-top: -100px !important; /* height of nav, in this case 54px */
    display: block;
    height: 100px; /* height of nav, in this case 54px */
    visibility: hidden;
    position: relative;
}

.btn-primary {
  background-color: rgb(248, 248, 249);
  border: 0px;
  color: #111;
}

.show .dropdown-toggle,
.btn-primary:hover {
  background-color: #20735b !important;
  border: 1px solid #000000;
  color: #FFFFFF;
}
.jumbotron {
  padding: 0rem;
  border-radius: 0;
}
.padding {
  padding-bottom: 0.8rem;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1 rem;
}

.fa-code {
  color: #e54d26;
}
.fa-bold {
  color: #563d7c;
}
.fa-css3 {
  color: #2163af;
}
.fa-code, .fa-bold, .fa-css3 {
  font-size: 2em;
  margin: 1 rem;
}
.fun {
  width: 100%;
  margin-bottom: 2rem;
}
.gif {
  max-width: 100%;
}

.social a {
  font-size: 4 em;
  padding: 3rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-google-plus-g {
  color: #dd4b39;
}
.fa-instagram {
  color: #517fa4;
}
.fa-youtube {
  color: #bb0000;
}
.fa-facebook: hover,
.fa-twitter: hover,
.fa-google-plus-g: hover,
.fa-instagram: hover,
.fa-youtube: hover {
    color: #d5d5d5;
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 1rem;
}
footer img {
  height: 50px;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1 rem;
}
footer a {
  color: #d5d5d5;
}
footer h6 {
  color: #FFFFFF;
  text-shadow: 1px 1px 1px 10px #000;
}

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1 rem;
}
/*---scrolling breaking news ticker --*/
.news {
  width: 160px
}
.bg-news {
  background-color: #20735b;
}
.news-scroll a {
    text-decoration: none;
    color: black;
}

.news-scroll a:hover {
    color: darkred;
}

.dot {
    height: 6px;
    width: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px !important;
    background-color: darkred;
    border-radius: 50%;
    display: inline-block
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    fon-size: 4em;
    padding: 2 rem;
  }

  }
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
    transform: translateY(-50%)
  }
  .carousel-caption h1 {
    font-size: 350%;
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: 2rem;
  }
  .carousel.caption.btn {
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4 {
    font-size: 200%;
  }
  .social a {
    font-size: 1.5em;
    padding: 0.8rem;
  }
  .col-12 h5,
  col-md-4 h5 {
    font-size: 90%;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
    transform: translateY(-50%)
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  .carousel-caption h3 {
    font-size: 110%;
  }
  .carousel.caption.btn {
    font-size: 90%;
    padding: 4px 9px;
  }
  .carousel-indicators {
    .display: none:
  }
  .display-4 {
    font-size: 160%;
  }
  .social a {
    font-size: 2em;
    padding: .7rem;
  }
  .navbar-brand img {
    height: 40px;
  }
  .col-12 h5,
  col-md-4 h5,
  col-md-12 {
    font-size: 80%;
  }
/*---Table --*/
}
body {
  --table-width: 100%; /* Or any value, this will change dinamically */
}
table {
  width: 100%;
}

th {
  background: black !important;
}
thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody {
  display: block;
  overflow-y: auto;
  overflow-x: auto;
  table-layout: fixed;
  max-height: 480px;
}

.anyClass {
  height:480px;
  overflow-y:auto;
  overflow-x: auto;
}
.analysisClass {
  height:550px;
  overflow-y:auto;
  overflow-x: auto;
}

tr:hover {
  color: white;
  background: #20735b !important;
}

.box-content {overflow-x:auto;}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('../images/digital_oil.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

#chart {
  display: block;
  margin: 20px auto 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}
.line{
stroke: darkred;
stroke-width:2px;
}

.tooltip {
  position: absolute;
  width: 135px;
  height: 60px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: darkred;
  border: 0;
  border-radius: 10px;
}

.axis-text {
  font-family: sans-serif;
  font-weight: bold;
  fill: #551aaf;
  text-anchor: middle;
}

.active {
  font-weight: bold;
  fill: #000;
  fill: #483D8B;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: #4682B4;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: darkred;
  cursor: pointer;
}

/*---SVG --*/

svg {
	width: 100%;
	height: 100%;
}

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

.labelValue
{
	font-size: 60%;
	opacity: .5;

}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}
text {
  font: 12px sans-serif;
}
#delay {
  margin: 20px;
  border: 1px solid #20735b;
}

/*--- DASHBOARD 1 USA MAP --*/

#map,
body,
html {
  height: 100%;
}
* CSS from the Leaflet-Choropleth documentation */
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
